@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    position: relative;

    text-decoration: none;
    list-style:none;

    border: none;
    outline: none;
}

body {
    max-width: 100svw;
    min-height:100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #543477;
}

form {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 40%;
    min-height: 50svh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    font-family: "Roboto", sans-serif;

} 
form input {
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.4s;
    background-color: rgba(195, 195, 195, 0.836);
}

form input:focus {
    box-shadow: 0 0 10px #00000085;
    transform: scale(1.01);
}

form .pass {
    display: flex;
    gap: 10px;

}

form button {
    padding: 10px;
    border-radius:20px;
    background-color: rgba(195, 195, 195, 0.836);
    font-family: "Roboto", sans-serif;

}

.child {
    width: 100%;
}

.pass div {
    width: 50%;
}

div button {
    width: 100%;
    transition: all 0.4s;
}
button:hover {
    background-color:rgb(84, 52, 119) ;
    color: white;
    box-shadow: 0 0 10px rgb(171, 139, 206);
    cursor: pointer;
}

.invalid {
    color: red;
    padding:10px;
}
.valid {
    padding:10px;
    color: green;
}

